<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/railway/layout">
<head>
	<script th:src="@{../../js/users/railway/contacts.js}"></script>
</head>
<body>
	<div layout:fragment="home_body_right_content">
		<div class="my-contacts-head">常用联系人</div>
	    <div class="my-contacts-body">
	    	<div style="width:96%; margin:0 auto;">
		        <p>
		        	<a id="add_contacts_btn" class="button button-action button-square button-small"><i class="fa fa-plus-circle" aria-hidden="true"></i>增加</a>
		        	<a id="del_contacts_btn" class="button button-highlight button-square button-small"><i class="fa fa-times-circle" aria-hidden="true"></i>删除</a>
		        </p>
		        <hr style="margin-top:5px;" />
		        <table id="my_contacts_table"></table>
	        </div>
	    </div>
	    
	    <script id="add_contact_template" type="text/html">
			<form id="add_contact_form">
				<div class="add-contact-div-title">
	        		<i style="margin-left:5px;">添加联系人</i>
	    		</div>
			    <div class="add-contact-div-body">
				    <fieldset style="border: 0px;">
				        <p style="margin-top: 30px;">
				            <label for="username"><span>*</span>姓名：</label>
				  			<input name="username" type="text"/>
				        </p>
				        <p>
				            <label for="gender"><span>*</span>性别：</label>
							<input type="radio" name="gender" value="0"/>男
							<input type="radio" name="gender" style="margin-left:20px;" value="1"/>女
				        </p>
				        <p>
				            <label for="country"><span>*</span>国家/地区：</label>
				            <select name="country">
		  			          	<option value="0">中国CHINA</option>
				            </select>
		    		    </p>
				        <p>
				            <label for="credentialType"><span>*</span>证件类型：</label>
							<select name="credentialType">
				 				<option value="1">身份证</option>
							</select>
				        </p>
				        <p>
				            <label for="credentialNumber"><span>*</span>证件号码：</label>
							<input name="credentialNumber" type="text"/>
				        </p>
				        <p>
		    		        <label for="telephone"><span>*</span>手机号码：</label>
							<input name="telephone" type="text"/>
				        </p>
		 		        <p>
				            <label for="custType"><span>*</span>旅客类型：</label>
				            <select name="custType">
		     			       	<option value="0">成人</option>
				            </select>
				        </p>
		    		</fieldset>
		    
				    <p style="text-align:center;">
				    	<a class="button button-rounded button-small" id="cancel_add_contact_btn">取消</a>
				    	<a class="button button-rounded button-small button-highlight" id="save_add_contact_btn">保存</a>
				    </p>
		    
				    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
				</div>
			</form>
		</script>
	</div>
	
</body>
</html>
