<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="users/railway/layout">
<head>
	<script th:src="@{../../js/users/railway/main.js}"></script>
</head>
<body>
	<div layout:fragment="home_body_right_content">
		<div class="home-content-right-head">系统信息</div>
		<div class="home-content-right-body">
			<div class="left-icon"><span></span></div>
			<div class="right-content">
		 		<p><font color="blue" th:text="${name}">姓名</font>先生, 上午好</p>
				<p>欢迎您登录simple12306客运网站</p>
				<p style="color:red;">如果您的密码在其他网站也使用，建议您修改本网站密码。</p>
			</div>
		</div>
	</div>
</body>
</html>