<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/railway/layout">
<head>
	<script th:inline="javascript">
		var list = eval([[${jsonList}]]);
		console.log(list);
	</script>
	
	<script th:src="@{../../js/users/railway/orderUnfinished.js}"></script>
</head>
<body>
	<div layout:fragment="home_body_right_content">
		<input type="hidden" id="order-no-input" value=""/>
	
		<div class="order-unfinished-head">未完成订单</div>
		<div class="order-unfinished-body">
			<div class="order-list-div" th:attr="state=open, orderNo=${order.orderNo}"  th:each="order: ${list}">
				<span class="icon-btn-down"></span>
				<span>订单日期: <font th:text="${order.timeBuyTicket}">购票时间</font></span>
				<span th:text="${order.orderPerson}">订票人</span>
				<span><font th:text="${order.startPos}">起始站点</font>--><font th:text="${order.endPos}">终点站</font></span>
				<span>乘车日期：<font th:text="${order.timeTrainStart}"></font></span>
				<span>票价：<font th:text="${order.price}"></font></span>
			</div>
		</div>
	</div>
</body>
</html>
