<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/railway/layout">
<head>
	<script th:src="@{../../js/users/railway/orderFinished.js}"></script>
</head>
<body>	
	<div layout:fragment="home_body_right_content">
		<div class="order-finished-head">已完成订单</div>
		<div class="order-finished-body">
			<div class="query-condition-content">
				<font>查询日期: </font>
				<input id="query_start_date" class="Wdate" readonly="readonly"/> - 
				<input id="query_end_date"   class="Wdate" readonly="readonly"/>
				<a class="button button-highlight button-rounded button-small" id="ticket_order_query_btn">查询</a>
			</div>
			<hr style="width:98%;height:2px;background-color:#41BAE2;margin:0 auto;border:none;"/>
			<div style="margin-top:20px;">
				<table id="order_finished_table"></table>
			</div>
		</div>
	</div>

</body>
</html>