<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="users/railway/layout">
<head>
	<script th:src="@{../../js/users/railway/selfInfo.js}"></script>
</head>
<body>
	<div layout:fragment="home_body_right_content">
		<div class="self-info-head">个人信息</div>
		<div class="self-info-body">
			<hr />
			<form id="self_info_form">
				<p>
					<span><font>*</font>用户名：</span>
					<span id="nickname"></span>
				</p>
				<p>
					<span><font>*</font>姓名：</span>
					<span id="username"></span>
				</p>
				<p>
					<span><font>*</font>性别：</span>
					<span id="gender"></span>
				</p>
				<p>
					<span>国家/地区：</span>
					<span id="country"></span>
				</p>
				<p>
					<span><font>*</font>证件类型：</span>
					<span id="credentialType"></span>
				</p>
				<p>
					<span><font>*</font>证件号码：</span>
					<span id="credentialNumber"></span>
				</p>
				<p>
					<span>出生日期：</span>
					<span id="birthday"></span>
				</p>
				<p>
					<span><font>*</font>手机号码：</span>
					<span id="telephone"></span>
				</p>
				<p>
					<span>电子邮件：</span>
					<span id="email"></span>
				</p>
				<p>
					<span>旅客类型：</span>
					<span id="custType"></span>
				</p>
			</form>
			
			<hr />
			<div class="self-info-edit-div">
				<a id="self_info_edit_btn" class="button button-primary   button-rounded button-small">修改</a>
				<a id="self_info_save_btn" class="button button-highlight button-rounded button-small">保存</a>
			</div>
		</div>
	</div>
</body>
</html>